{% extends 'base.html.twig' %}

{% block title %}Ajouter une palette | {% endblock %}

{% block body %}
    {% if notification %}
    <div class="alert alert-{{notification.type}}">{{notification.message|raw}}</div>
    {% endif %}

    <div class="container">   

        <div class="card mt-5 shadow">
            <div class='row align-items-center'>
                <div class="col-md-6 text-center">
                    <img src="{{ asset('assets/img/palette.png') }}" alt="Image de palette" width="320px">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <span class="fs-4">Référence</span> <br>
                            <b class="h4">{{ palette.getReference() }}</b>
                        </div>
                        <div class="col-md-6 text-center">
                            <span class="fs-4">Entrprise</span> <br>
                            <b class="h5 text-white border-rounted p-1 {% if palette.getCompany() == 'Robé Médical' %} bg-primary {% else %} bg-success {% endif %}">{{ palette.getCompany() }}</b>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-6 text-center">
                            <span class="fs-4">Date d'arrivage</span> <br>
                            <b class="h4">{{ palette.getInsertDate()|date('d-m-Y') }}</b>
                        </div>
                        <div class="col-md-6 text-center">
                            <span class="fs-4">Emplacement</span> <br>
                            <b class="h4">A{{ palette.getWeg() }} | R{{palette.getShelf()}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-5 shadow">
            <h3 class="text-center">Historique le la palette</h3>
            <table class="mt-1 table text-center">
                <thead class="bg-primary-custom">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                        <th scope="col">Information</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.dateInsert|date('H:i:s d-m-Y') }}</td>
                            <td>{{ log.action }}</td>
                            <td>{{ log.info }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div onclick="confirmDelete({{ palette.id }})" class="btn py-3 w-100 btn-danger btn-delete-palette">Retirer la palette du stock</div>        
{% endblock %}
