{% extends 'base.html.twig' %}

{% block title %}Ajouter une palette | {% endblock %}

{% block body %}
    {# {% if notification %}
    <div class="alert alert-{{notification.type}}">{{notification.message|raw}}</div>
    {% endif %} #}

    <div class="container">    
        <div class="col-md-6 m-auto card px-5 py-3">
            <div class="text-center">
                <h2 class="h4 mb-3 text-custom">Ajouter une palette</h2>
                <p>Les palette sont ajouter avec la date du jour de saisie.</p>
            </div>
            {{ form_start(form) }}
                {{ form_row(form.reference) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.weg) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.shelf) }}
                    </div>
                </div>
                <div class="row justify-content-between mt-4">
                    <div class="col-md-2 text-start">
                        <a class="btn btn-outline-secondary mb-5" href="/">Retour</a>
                    </div>
                    <div class="col-md-10 text-end">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
</div>
{% endblock %}
