{% extends 'base.html.twig' %}

{% block title %}Administration - {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center">
        <div class="row justify-content-between">
            <div class="col-3">
                <a class="btn btn-outline-secondary mx-2" href="{{ path('admin') }}">Retour</a>
            </div>
            <div class="col-9 col-md-3">
                <h2 class="h3 mb-3 text-secondary">Profils de l'utilisateur <strong class="text-custom">{{ user.username }}</strong> </h2>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-primary mx-2" href="{{ path('admin_edit_user', {'id': user.id}) }}">Editer</a>
                <a class="btn btn-danger mx-2" href="{{ path('admin_delete_user', {'id': user.id}) }}">Supprimer</a>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-md-2 py-4 card shadow text-secondary">
                <span>Role</span>
                {% for role in user.roles %}
                    <b>{{role}}</b>
                {% endfor %}
            </div>
            <div class="col-md-2 py-4 card shadow text-secondary">
                <span>Dernière connexion</span>
                <b>Le {{user.lastConnexion|date('d-m-Y à H:i')}}</b>
            </div>
            <div class="col-md-2 py-4 card shadowtext-secondary">
                <span>Modifications <small>/48h</small></span>
                <b>{{ userLogs|length }}</b>
            </div>
        </div>
    </div>

    <div>
        <table class="mt-5 table text-center">
            <thead class="bg-primary-custom">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                    <th scope="col">Information</th>
                    <th class="d-sm-print-non d-md-print-table" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr {% if log.palette.id is defined %} onclick="document.location.href = '{{ path('show_palette', {'id':  log.palette.id}) }}'" {% endif %}>
                        <td>{{ log.dateInsert|date('H:i:s d-m-Y') }}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.info }}</td>
                        <td class="d-none d-md-inline">{% if log.palette.id is defined %}<a href="{{ path('show_palette', {'id':  log.palette.id}) }}" class="btn btn-sm btn-warning">Voir <span class="d-sm-print-non d-md-print-table">la palette</span></a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
